.main-page{
    display: flex;
    gap: 65px;
    
}

*{
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
}

.right-side{
    align-self: center;
}

.open{
    
    background-color: lightgreen;
    border: none;
    padding: 3px 12px;
    margin: 3px;
}

.closed{
    
    background-color: rgb(230, 131, 131);
    border: none;
    padding: 3px 12px;
    margin: 3px;
}

.filled{
    background-color: none;
    border: none;
    padding: 3px 12px;
    margin: 3px;

}

.playAgain{
    display: none;
}