.main-page{
    display: flex;
    gap: 65px;
    
}

.right-side{
    align-self: center;
}

.open{
    
    background-color: green;

}

.closed{
    
    background-color: red;
}

.filled{
    background-color: none;
}